<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block section_title %}
    <div class="container">
        <div class="row">
            <h2 class="col-auto me-auto">Cart</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Creates a list of events with a bootstrap card style and a flexbox as card-card body with the infos in it.
Source: https://getbootstrap.com/docs/5.0/utilities/flex/-->
    {{ session.tickets }}
{% for ticket in tickets %}
<div class="card">
    <div class="card-body d-flex bd-highlight flex-row">
        <div class="p-2 flex-grow-1 bd-highlight event-name">{{ ticket.name }}</div>
        <div class="p-2 bd-highlight">Count: {{ ticket.count }}</div>
        <div class="p-2 bd-highlight">
            <a href="{% url 'cart_update' ticket.event_id 'inc' %}" class="btn btn-success">+</a>
            <a href="{% url 'cart_update' ticket.event_id 'dec' %}" class="btn btn-success" >-</a>
        </div>
        <div class="p-2 bd-highlight">Price: {{ ticket.price }} </div>
        <div class="p-2 bd-highlight">Sum:{{ ticket.sum }}</div>
    </div>
</div>
{% endfor %}
    <div>Total price: {{ total_price }}</div>
{% endblock %}

