<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Event Creation{% endblock %}

{% block section_title %}
    <h2>Create an Event</h2>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
{#        {{ form }}#}
        {% for f_field in form %}
            <div class="row">
                <label for="{{ f_field.id_for_label }}">{{ f_field.label }}:</label>
                {{ f_field.errors }}
                <input id="{{ f_field.id_for_label }}"
                type="{{ f_field.field.widget.input_type }}"
                value="{{ f_field.value | default_if_none:'' }}"
                name="{{ f_field.html_name }}">
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Save</button>
        <a class="btn btn-secondary" href="{% url 'event_list' %}" type="button">Cancel</a>
    </form>
{% endblock %}