<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block section_title %}
    <h2>{{ event.name }}</h2>
{% endblock %}

{% block content %}
    <div class="card bg-light">
        <div class="card-body">
            <p>Category: {{ event.category }}</p>
            <p>Artist: {{ event.artist }}</p>
            <p>{{ event.description }}</p>
            <p>Date: {{ event.date }}</p>
            <p>Location: {{ event.venue }}</p>
            <p>No. of tickets available: {{ event.availability }}</p>
            {% if is_owner %}
                <a href="{% url 'event_update' event.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'event_delete' event.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
                <a href="{% url 'add_to_cart' event.id %}" class="btn btn-secondary">Add to cart</a>

        </div>
    </div>

{% endblock %}