<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}{% if my_view %}My {% endif %}Events{% endblock %}

{% block section_title %}
    <div class="container">
        <div class="row">
            <h2 class="col-auto me-auto">{% if my_view %}My {% endif %}Events</h2>
            {% if my_view %}<div class="col-auto"><a class="btn btn-secondary" href="{% url 'event_create' %}">New</a></div>{% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Creates a list of events with a bootstrap card style and a flexbox as card-card body with the infos in it.
Source: https://getbootstrap.com/docs/5.0/utilities/flex/-->
{% for event in event_list %}
<div class="card bg-light">
    <div class="card-body d-flex bd-highlight flex-row">
        <div class="p-2 flex-grow-1 bd-highlight event-name">{{ event.name }}</div>
        <div class="p-2 bd-highlight">{{ event.venue }}</div>
        <div class="p-2 bd-highlight">{{ event.date }}</div>
        <a href="{% url 'event' event.id %}" class="stretched-link"></a>
    </div>
</div>
{% endfor %}
{% endblock %}


