<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block section_title %}
    <h1>Event Details</h1>
{% endblock %}

{% block content %}

    <div class="card border-light">
        <div class="card-header fs-4 d-flex justify-content-between align-items-center">
            <h2 id="event-header" class="mr-auto">{{ event.name }}</h2>
            {% if is_owner %}
                <div>
                    <a href="{% url 'event_update' event.id %}" class="btn edit-btn">Edit</a>
                    <a href="{% url 'event_delete' event.id %}" class="btn btn-outline-danger">Delete</a>
                </div>

            {% endif %}
        </div>
        <div class="card-body">
            <div class="row align-items-start">
                <div class="col-md-3 col-6">
                    Category:
                </div>
                <div class="col-md-3 col-6">
                    {{ event.category }}
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-md-3 col-6">
                    Artist:
                </div>
                <div class="col-md-3 col-6">
                    {{ event.artist }}
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-md-3 col-6">
                    Date:
                </div>
                <div class="col-md-3 col-6">
                    {{ event.date }}
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-md-3 col-6">
                    Location:
                </div>
                <div class="col-md-3 col-6">
                    {{ event.venue }}
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-md-3 col-6">
                    No. of tickets available:
                </div>
                <div class="col-md-3 col-6">
                    {{ event.availability }}
                </div>
            </div>
            {% if event.description != "" %}
            <div class="row align-items-start">
                <div class="col">
                    {{ event.description }}
                </div>
            </div>
            {% endif %}
                <a href="{% url 'add_to_cart' event.id %}" class="btn cart-btn">Add to cart</a>
            {% if event.video %}
                <div id="video-block" class="mt-4">
                    {% include 'video.html' with video=event.video %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}