@font-face {
    font-family: "Poppins";
    src: local("Poppins-Regular"), url("./fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Medium"), url("./fonts/Poppins/Poppins-Medium.ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Poppins", sans-serif !important;
}

#nav-container {
    padding: 0;
}

.navbar-dark {
    background-color: #111111;
}

.navbar-dark .navbar-brand {
    color: #AFC259 !important;
}

.nav-link {
    margin-right: 4rem;
    color: #DFDFDF !important;
}

.navbar-brand {
    margin-right: 4rem !important;
}

#page_title {
    /*padding-top: 5rem;*/
    /*padding-bottom: 0.5rem;*/
    /*background-image: url('img/fern2.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*text-align: center;*/
    /*color: rgb(193, 241, 178);*/
    background-image: linear-gradient(to right, #AFC259, #111111);
    padding-top: 1rem;
}

#logo-col {
    padding-right: 3rem;
    padding-left: 0;
}

#section_title {
    margin-bottom: 1rem !important;
}

.card {
    margin-bottom: 1rem;
    background-color: rgba(223, 223, 223, 0.5) !important;
    color: #111111;
}

.card-body .row {
    margin-bottom: 1rem;
}

.card .cart-btn {
    background-color: #AFC259;
}

.card .edit-btn {
    border-color: #808080;
}

.col .cart-btn {
    background-color: #AFC259;
}

.count-btn {
    border-color: #AFC259 !important;

}

.btn-save {
    background-color: #AFC259 !important;
    margin-right: 1rem;
}

.btn-cancel,
.btn-new {
    background-color: #BFBFBF !important;
}

#category-name {
    font-weight: bold;
}
.event-name {
    font-weight: bold;
}

#content-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#total_price {
    margin-top: 3rem;
}

#price {
    font-size: large;
}

footer {
    background-color: #111111;
    color: #DFDFDF;
    text-align: end;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
        margin-bottom: 0;
}