
#nav-container {
    padding: 0;
}

.navbar-dark {
    padding-right: 3rem;
    background-color: #111111;
}

.navbar-dark .navbar-brand {
    color: #AFC259 !important;
}

.nav-link {
    margin-right: 4rem;
    color: #DFDFDF !important;
}

.navbar-brand {
    margin-right: 4rem !important;
}

#page_title {
    /*padding-top: 5rem;*/
    /*padding-bottom: 0.5rem;*/
    /*background-image: url('img/fern2.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*text-align: center;*/
    /*color: rgb(193, 241, 178);*/
    background-image: linear-gradient(to right, #AFC259, #111111);
    padding-top: 1rem;
}

#logo-col {
    padding-right: 3rem;
    padding-left: 0;
}

#section_title {
    margin-bottom: 4rem !important;
}

.card {
    margin-bottom: 1rem;
    background-color: rgba(223, 223, 223, 0.5) !important;
    color: #111111;

}

.card-body a {
    margin-top: 1rem;
}

.card-body .row {
    margin-bottom: 1rem;
}

.card .cart-btn {
    background-color: #AFC259;
}

.card .edit-btn {
    border-color: #808080;
    margin-left: 2rem;
}

.card .btn {
    margin-right: 1rem;
}

.col .cart-btn {
    background-color: #AFC259;
}

.count-btn {
    border-color: #AFC259 !important;

}

.event-name {
    font-weight: bold;
}

#content-container {
    margin-top: 5rem;
}

#total_price {
    margin-top: 3rem;
}

footer {
    background-color: #111111;
    color: #DFDFDF;
    text-align: end;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
        margin-bottom: 0;
}